.history_container{
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;
}
.history_redian{
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 8px;
}
.history_redian:hover{
    color: lightskyblue;
    margin-bottom: 5px;
}